<p id="notice"><%= notice %></p>

<h1>Search result</h1>

<table>
  <thead>
    <tr>
      <th>CGID</th>
      <th>Country</th>
      <th>Rank</th>
      <th>Level</th>
      <th>Pseudo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player["codingamer"]["userId"] %></td>
        <td><%= player["codingamer"]["countryId"] %></td>
        <td>#<%= player["rank"] %></td>
        <td><%= player["codingamer"]["level"] %></td>
        <td><%= player["pseudo"] %></td>
        <td><%= link_to "Save", save_players_url(
			cgid: player["codingamer"]["userId"], 
			rank: player["rank"],
			level: player["codingamer"]["level"],
			pseudo: player["pseudo"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', players_path %>
