<p id="notice"><%= notice %></p>

<h1>Puzzles</h1>



<%
	if @pids
%>
<pre>@pids=<%= @pids %></pre>
<pre>@results=<%= @results %></pre>
<pre>@languages=<%= @languages %></pre>
<pre>@solvedLangs=<%= @solvedLangs %></pre>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
	  <% for lang in @languages %>
	  <th><%= lang.name %></th>
	  <% end %>
    </tr>
  </thead>
  <tbody>
    <% for puzzle in @puzzles %>
      <tr>
		<td>
		  <%  # Partie gauche du tableau : liste des players (indicateurs)
			 for pid in @pids
		  %>
			<%= pid %>
		  <% end %>
		</td>
        <td><a href="http://www.codingame.com<%= puzzle.detailsPageUrl %>"><%= puzzle.title %></a></td>
		  <% for lang in @languages %>
		  <td>
			  <% for pid in @pids 
					key = "#{pid}:#{puzzle.id}:#{lang.id}"
					if @results.key?( key )
				%>
				<%= pid %>
				<%
				    end   # if
				 end # for pid
			  %>
		  </td>
		  <% end # for lang
		  %>
	  </tr>
	<% end %>
  </tbody>
</table>

<%
	else
%>
<table>
  <thead>
    <tr>
      <th>Cgid</th>
      <th>Title</th>
      <th>Level</th>
      <th>PrettyId</th>
      <th>leaderboardId</th>
      <th>Solvedcount</th>
      <th>Type</th>
      <th>Achievementcount</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= puzzle.cgid %></td>
        <td><a href="http://www.codingame.com<%= puzzle.detailsPageUrl %>"><%= puzzle.title %></a></td>
        <td><%= puzzle.level %></td>
        <td><%= puzzle.prettyId %></td>
        <td><%= puzzle.leaderboardId %></td>
        <td><%= puzzle.solvedCount %></td>
        <td><%= puzzle.puzzleType %></td>
        <td><%= puzzle.achievementCount %></td>
        <td><%= link_to 'Show', puzzle %></td>
        <td><%= link_to 'Results', results_puzzle_path(puzzle) %></td>
        <td><%= link_to_unless puzzle.leaderboardId.nil?, 'Leaderboard', import_puzzle_path(puzzle.id), method: :post %></td>
        <td><%= link_to 'Edit', edit_puzzle_path(puzzle) %></td>
        <td><%= link_to 'Destroy', puzzle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%
	end
%>

<br>

<%= link_to 'New Puzzle', new_puzzle_path %> <br>
<%= link_to_if @puzzles.empty?, 'Seed puzzles', seed_puzzles_path %>
